@model Pruebas.Models.Tecnologia.Funcionario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Funcionario</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Causante.RUT_CAUSANTE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Causante.RUT_CAUSANTE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Activo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Activo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Rut)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Rut)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Apellidos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Apellidos)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Nombres)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nombres)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sexo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sexo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstadoCivil)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstadoCivil)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fec_nacimiento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fec_nacimiento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RentaPromedio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RentaPromedio)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Funcionario }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
