
@{

    ViewBag.Title = "Descargar";
}

<h2>Descargar</h2>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="~/Content/Style.css" rel="stylesheet" />

</head>
<body>
    @using (Html.BeginForm())
    {
      
        @Html.AntiForgeryToken()
        <a href="/Causantes/Index"><input type="button" value="Inicio" class="btn btn-info " /></a>
        <div class="row">
            <div class="col-lg col-md col-sm">
                <!-- se crea una tabla con los en el encabezado de la tabla estara NUM.CORRELATIVO,
                    RUT CAUSANTE, CODIGO TIPO CAUSANTE, etc. -->
                <table class="table" border="1" cellpadding="1" cellspacing="1">
                    <thead>
                        <tr>
                            <th>NUM.CORRELATIVO</th>
                            <th>RUT CAUSANTE</th>
                            <th>NOMBRE CAUSANTE</th>
                            <th>CODIGO TIPO CAUSANTE</th>
                            <th>TIPO CAUSANTE</th>
                            <th>RUT BENEFICIARIO</th>
                            <th>NOMBRE BENEFICIARIO</th>
                            <th>CODIGO TIPO BENEFICIARIO</th>
                            <th>TIPO BENEFICIARIO</th>
                            <th>CODIGO TIPO BENEFICIO</th>
                            <th>TIPO BENEFICIO</th>
                            <th>RUT EMPLEADOR</th>
                            <th>NOMBRE EMPLEADOR</th>
                            <th>FECHA RECONOCIMIENTO</th>
                            <th>TRAMO</th>
                            <th>MONTO BENEFICIO</th>
                            <th>CODIGO ESTADO TUPLA</th>
                            <th>GLOSA ESTADO TUPLA</th>
                            <th>PROMEDIO RENTA</th>

                        </tr>

                    </thead>
                    <tbody>
                        <!-- en la parte del cuerpo se mostrara los datos del causante en la  lista  
                            con le nombre de activos para recordar que es una fusion de Causantes y Funcionarios   -->
                        @foreach (var CElementos in Model)
                        {
                            /* si el activo de la lista es igual a 1 entonces se mostara la columna de color verde con todos los datos que se muestra */
                            if (CElementos.ACTIVO == 1)
                            {
                                <tr>
                                    <td width="50%" class="bg-success text-white">@CElementos.NUM_CORRELATIVO</td>
                                    <td>@CElementos.RUT_CAUSANTE</td>
                                    <td>@CElementos.NOMBRE_CAUSANTE</td>
                                    <td>@CElementos.CODIGO_TIPO_CAUSANTE</td>
                                    <td>@CElementos.TIPO_CAUSANTE</td>
                                    <td>@CElementos.RUT_BENEFICIARIO</td>
                                    <td>@CElementos.NOMBRE_BENEFICIARIO</td>
                                    <td>@CElementos.CODIGO_TIPO_BENEFICIARIO</td>
                                    <td>@CElementos.TIPO_BENEFICIARIO</td>
                                    <td>@CElementos.CODIGO_TIPO_BENEFICIO</td>
                                    <td>@CElementos.TIPO_BENEFICIO</td>
                                    <td>@CElementos.RUT_EMPLEADOR</td>
                                    <td>@CElementos.NOMBRE_EMPLEADOR</td>
                                    <td>@CElementos.FECHA_RECONOCIMIENTO</td>
                                    <td>@CElementos.TRAMO </td>
                                    <td>@CElementos.MONTO_BENEFICIO</td>
                                    <td>@CElementos.CODIGO_ESTADO_TUPLA</td>
                                    <td>@CElementos.GLOSA_ESTADO_TUPLA</td>
                                    <td>@CElementos.PROMEDIO_RENTA</td>
                                </tr>

                            }
                            else
                            {
                                /* sino  entonces se mostara la columna de color rojo con todos los datos que se muestra */
                                <tr>
                                    <td width="50%" class="bg-danger text-white">@CElementos.NUM_CORRELATIVO</td>
                                    <td>@CElementos.RUT_CAUSANTE</td>
                                    <td>@CElementos.NOMBRE_CAUSANTE</td>
                                    <td>@CElementos.CODIGO_TIPO_CAUSANTE</td>
                                    <td>@CElementos.TIPO_CAUSANTE</td>
                                    <td>@CElementos.RUT_BENEFICIARIO</td>
                                    <td>@CElementos.NOMBRE_BENEFICIARIO</td>
                                    <td>@CElementos.CODIGO_TIPO_BENEFICIARIO</td>
                                    <td>@CElementos.TIPO_BENEFICIARIO</td>
                                    <td>@CElementos.CODIGO_TIPO_BENEFICIO</td>
                                    <td>@CElementos.TIPO_BENEFICIO</td>
                                    <td>@CElementos.RUT_EMPLEADOR</td>
                                    <td>@CElementos.NOMBRE_EMPLEADOR</td>
                                    <td>@CElementos.FECHA_RECONOCIMIENTO</td>
                                    <td>@CElementos.TRAMO </td>
                                    <td>@CElementos.MONTO_BENEFICIO</td>
                                    <td>@CElementos.CODIGO_ESTADO_TUPLA</td>
                                    <td>@CElementos.GLOSA_ESTADO_TUPLA</td>
                                    <td>@CElementos.PROMEDIO_RENTA</td>



                                </tr>
                            }


                        }

                    </tbody>
                </table>
            </div>
        </div>
        <!-- al preionar se va crear un proceso de descarga con los datos que estan en la tabla en un documento excel -->
        <div class="row">
            <input type="submit" name="id" value="Descargar" class="btn btn-success" />

        </div>
    }





</body>
</html>